.pagedata-collapse {
  .ant-collapse-content-box {
    padding: 4px 16px 16px !important;
  }

  .ant-collapse-header {
    padding: 4px 16px;
  }

  .text-card {
    max-height: calc(100vh - 516px);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--light-hover-grey-color) transparent;
    scrollbar-gutter: stable;

    .ant-card-body {
      padding: 10px 12px;
    }
  }

  .ant-collapse-content-box:has(.attributes-card) {
    padding-bottom: 0 !important;
  }

  .ant-collapse-header .ant-btn {
    font-size: 13px;
    height: 26px;
    padding: 4px 10px;
  }
}

.ant-pagination-simple-pager {
  input {
    height: 28px !important;
  }
}

.confidence-label {
  position: absolute;
  background-color: var(--bg-color);
  bottom: 0;
  right: 8px;
  padding: 5px 14px 0;
  border-radius: 8px 0;
  gap: 2px;
  border-top: 1px solid rgb(240, 240, 240);
  border-left: 1px solid rgb(240, 240, 240);

  .ant-typography {
    font-size: 13px;
    letter-spacing: 0.01rem;
    color: var(--secondary-color);
  }
}
