.text-block {
  display: block;
  position: relative;

  .text-button {
    width: 100%;
    height: auto;
    min-height: 35px;
    white-space: normal;
    padding: 6px 40px 6px 12px;
    border-radius: 8px;

    & div {
      width: 100%;
      margin-bottom: 0;
      text-align: left;
    }

    svg {
      color: var(--secondary-color);
      opacity: 0.6;
      right: -31px;
      position: relative;
      font-size: 17px;
    }
  }

  .edit-button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 6px;
    color: var(--grey-color);
    background-color: #e3e4e8;
    right: 4px;
    top: 4px;

    &:hover {
      background-color: #dedfe3 !important;
    }
  }

  &:hover {
    .edit-button {
      visibility: visible;
      opacity: 1;
    }

    .text-button {
      background-color: var(--light-hover-grey-color) !important;
    }
  }
}

.ant-popconfirm-description {
  margin: 0 0 4px !important;
}
